.card {
	margin-top: 25px;
	background-color: #fff;
	width: 260px;
	height: 280px;
}
.card-heading {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.admin {
	background-color: #e71a1a;
}
.engineer {
	background-color: #347bec;
}
.customer {
	background-color: #00a4dc;
}
.status {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 15px 18.5px 15px;
	border-radius: 15px;
}

.approved {
	background: #c8e6c9;
	color: #256029;
}
.pending {
	background: #feedaf;
	color: #8a5340;
}
.rejected {
	background: #ffcdd2;
	color: #c63737;
}
