
.signup-body{
   background-color: #f6f7f9;
   height: 89.99vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.signup-body>h1 {
   margin-bottom: 25px;
}

.signup-wrapper {
   background-color: #fff;
   width: 30vw;
   padding: 15px 1px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.signup-form-group>h2{
   text-align: center;
   margin: 1em;
   transition: all .3s
}
.form-group {
   margin-bottom: 1em;
   transition: all .3s;
}
.form-label {
   font-size: 1em;
   color: #aaa;
   display: block;
   opacity: 1;
   transform: translateY(-1.55em);
   transform-origin:0 0;
   transition: all .3s ease-in-out;
   pointer-events: none;
}
.form-control {
   box-shadow: none;
   background-color: rgba(0,0,0,.02);
   border-radius: 0px;
   border-color: #ccc;
   background-color: transparent;
   border-style: none none solid none;
   width: 250px;
   transition: all .5s;
   padding: 5px;
   caret-color: #1bab6e;
}
.form-control::placeholder {
   color: transparent;
}
.form-control:focus {
   box-shadow: none;
   outline: none;
   border-color: #1bab6e;
}
.form-control:focus + .form-label, 
.form-control:not(:placeholder-shown) + .form-label 
{
   transform: translateY(-2.5em) scale(.7);
}
.form-group:focus-within {
   transform: scale(1.05,1.05);
}
.signup-btn>button {
   width: 250px;
   padding: 10px;
   margin-bottom: 5px;
   margin-top: -5px;
   border-color: none;
   border: none;
   transition: all 0.5s ease-in-out;
}
.signup-btn>button:hover{
   background-color: #1bab6e;
   border-color: none;
   cursor: pointer;
   border: none;
}
.signup-btn >p {
   margin-top: 5px;
   text-align: center;
}

.signup-btn a {
   cursor: pointer;
   color: blue;
   text-decoration: none;
}